schema-recipe.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="lnstrecipe">
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <ref name="network"/>

                <oneOrMore>
                    <ref name="task"/>
                </oneOrMore>
            </interleave>
        </element>
    </start>

    <define name="define">
        <element name="define">
            <oneOrMore>
                <element name="alias">
                    <attribute name="name"/>
                    <choice>
                        <attribute name="value"/>
                        <text/>
                    </choice>
                </element>
            </oneOrMore>
        </element>
    </define>

    <define name="network">
        <element name="network">
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <oneOrMore>
                    <ref name="host"/>
                </oneOrMore>
            </interleave>
        </element>
    </define>

    <define name="task">
        <choice>
            <element name="task">
                <attribute name="python"/>

                <optional>
                    <attribute name="quit_on_fail">
                        <choice>
                            <value>yes</value>
                            <value>no</value>
                            <value>true</value>
                            <value>false</value>
                        </choice>
                    </attribute>
                </optional>

                <optional>
                    <attribute name="module_dir"/>
                </optional>

                <optional>
                    <attribute name="tools_dir"/>
                </optional>
            </element>
            <ref name="xml_task"/>
        </choice>
    </define>

    <define name="xml_task">
        <element name="task">
            <optional>
                <attribute name="label"/>
            </optional>

            <optional>
                <attribute name="quit_on_fail">
                    <choice>
                        <value>yes</value>
                        <value>no</value>
                        <value>true</value>
                        <value>false</value>
                    </choice>
                </attribute>
            </optional>

            <optional>
                <attribute name="module_dir"/>
            </optional>

            <optional>
                <attribute name="tools_dir"/>
            </optional>

            <oneOrMore>
                <choice>
                    <ref name="run"/>
                    <ref name="config"/>
                    <ref name="wait"/>
                    <ref name="intr"/>
                    <ref name="kill"/>
                    <ref name="ctl_wait"/>

                    <ref name="define"/>
                </choice>
            </oneOrMore>
        </element>
    </define>

    <define name="host">
        <element name="host">
            <attribute name="id"/>

            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <ref name="params"/>
                </zeroOrMore>

                <element name="interfaces">
                    <zeroOrMore>
                        <choice>
                            <ref name="eth"/>
                            <ref name="bond"/>
                            <ref name="bridge"/>
                            <ref name="vlan"/>
                            <ref name="macvlan"/>
                            <ref name="team"/>
                            <ref name="ovs_bridge"/>
                            <ref name="veth_pair"/>
                            <ref name="vti"/>
                            <ref name="vti6"/>
                            <ref name="lo"/>
                            <ref name="vxlan"/>
                            <ref name="dummy"/>
                            <ref name="gre"/>
                            <ref name="ipip"/>
                        </choice>
                    </zeroOrMore>
                </element>
            </interleave>
        </element>
    </define>

    <define name="eth">
        <element name="eth">
            <attribute name="id"/>
            <attribute name="label"/>
            <optional>
                <attribute name="netns"/>
            </optional>
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <ref name="params"/>
                </zeroOrMore>

                <optional>
                    <ref name="addresses"/>
                </optional>

                <optional>
                    <ref name="netem"/>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="bond">
        <element name="bond">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="bridge">
        <element name="bridge">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="ovs_bridge">
        <element name="ovs_bridge">
            <attribute name="id"/>
            <optional>
                <attribute name="netns"/>
            </optional>
            <optional>
                <ref name="addresses"/>
            </optional>

            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <optional>
                    <element name="slaves">
                        <interleave>
                            <optional>
                                <ref name="define"/>
                            </optional>

                            <oneOrMore>
                                <element name="slave">
                                    <attribute name="id"/>
                                    <optional>
                                        <ref name="options"/>
                                    </optional>
                                </element>
                            </oneOrMore>
                        </interleave>
                    </element>
                </optional>

                <zeroOrMore>
                    <element name="bond">
                        <attribute name="id"/>

                        <interleave>
                            <optional>
                                <ref name="define"/>
                            </optional>

                            <optional>
                                <ref name="options"/>
                            </optional>

                            <element name="slaves">
                                <interleave>
                                    <optional>
                                        <ref name="define"/>
                                    </optional>

                                    <oneOrMore>
                                        <element name="slave">
                                            <attribute name="id"/>
                                        </element>
                                    </oneOrMore>
                                </interleave>
                            </element>
                        </interleave>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <element name="vlan">
                        <attribute name="tag"/>

                        <interleave>
                            <optional>
                                <ref name="define"/>
                            </optional>

                            <element name="slaves">
                                <interleave>
                                    <optional>
                                        <ref name="define"/>
                                    </optional>

                                    <oneOrMore>
                                        <element name="slave">
                                            <attribute name="id"/>
                                        </element>
                                    </oneOrMore>
                                </interleave>
                            </element>
                        </interleave>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <element name="tunnel">
                        <attribute name="id"/>
                        <attribute name="type">
                            <choice>
                                <value>vxlan</value>
                                <value>gre</value>
                                <value>geneve</value>
                            </choice>
                        </attribute>
                        <interleave>
                            <optional>
                                <ref name="options"/>
                            </optional>
                            <optional>
                                <ref name="addresses"/>
                            </optional>
                        </interleave>
                    </element>
                </zeroOrMore>
                <zeroOrMore>
                    <element name="internal">
                        <attribute name="id"/>
                        <interleave>
                            <optional>
                                <ref name="options"/>
                            </optional>
                            <optional>
                                <ref name="addresses"/>
                            </optional>
                        </interleave>
                    </element>
                </zeroOrMore>
                <optional>
                    <element name="flow_entries">
                        <oneOrMore>
                            <element name="entry">
                                <choice>
                                    <attribute name="value"/>
                                    <text/>
                                </choice>
                            </element>
                        </oneOrMore>
                    </element>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="vlan">
        <element name="vlan">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="macvlan">
        <element name="macvlan">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="team">
        <element name="team">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="vxlan">
        <element name="vxlan">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="dummy">
        <element name="dummy">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="gre">
        <element name="gre">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="ipip">
        <element name="ipip">
            <attribute name="id"/>
            <ref name="softdevice"/>
        </element>
    </define>

    <define name="softdevice">
        <optional>
            <attribute name="netns"/>
        </optional>
        <interleave>
            <optional>
                <ref name="define"/>
            </optional>

            <optional>
                <ref name="options"/>
            </optional>

            <optional>
                <element name="slaves">
                    <interleave>
                        <optional>
                            <ref name="define"/>
                        </optional>

                        <zeroOrMore>
                            <element name="slave">
                                <attribute name="id"/>

                                <optional>
                                    <interleave>
                                        <optional>
                                            <ref name="define"/>
                                        </optional>

                                        <zeroOrMore>
                                            <ref name="options"/>
                                        </zeroOrMore>
                                    </interleave>
                                </optional>

                            </element>
                        </zeroOrMore>
                    </interleave>
                </element>
            </optional>

            <optional>
                <ref name="addresses"/>
            </optional>
        </interleave>
    </define>

    <define name="veth_pair">
        <element name="veth_pair">
            <optional>
                <ref name="define"/>
            </optional>
            <ref name="veth"/>
            <optional>
                <ref name="define"/>
            </optional>
            <ref name="veth"/>
        </element>
    </define>

    <define name="veth">
        <element name="veth">
            <attribute name="id"/>
            <optional>
                <attribute name="netns"/>
            </optional>
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <ref name="options"/>
                </zeroOrMore>

                <optional>
                    <ref name="addresses"/>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="vti">
        <element name="vti">
            <attribute name="id"/>
            <optional>
                <attribute name="netns"/>
            </optional>
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <ref name="options"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="vti6">
        <element name="vti6">
            <attribute name="id"/>
            <optional>
                <attribute name="netns"/>
            </optional>
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <ref name="options"/>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="lo">
        <element name="lo">
            <attribute name="id"/>
            <optional>
                <attribute name="netns"/>
            </optional>
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <ref name="options"/>
                </zeroOrMore>

                <optional>
                    <ref name="addresses"/>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="options">
        <element name="options">
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <element name="option">
                        <attribute name="name"/>
                        <choice>
                            <attribute name="value"/>
                            <text/>
                        </choice>
                    </element>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="addresses">
        <element name="addresses">
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <element name="address">
                        <choice>
                            <attribute name="value"/>
                            <text/>
                        </choice>
                    </element>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="netem">
        <element name="netem">
            <interleave>
                <optional>
                    <element name="delay">
                        <optional>
                            <ref name="options"/>
                        </optional>
                    </element>
                </optional>
                <optional>
                    <element name="loss">
                        <optional>
                            <ref name="options"/>
                        </optional>
                    </element>
                </optional>
                <optional>
                    <element name="duplication">
                        <optional>
                            <ref name="options"/>
                        </optional>
                    </element>
                </optional>
                <optional>
                    <element name="corrupt">
                        <optional>
                            <ref name="options"/>
                        </optional>
                    </element>
                </optional>
                <optional>
                    <element name="reordering">
                        <optional>
                            <ref name="options"/>
                        </optional>
                    </element>
                </optional>
            </interleave>
        </element>
    </define>

    <define name="params">
        <element name="params">
            <interleave>
                <optional>
                    <ref name="define"/>
                </optional>

                <zeroOrMore>
                    <element name="param">
                        <attribute name="name"/>
                        <choice>
                            <attribute name="value"/>
                            <text/>
                        </choice>
                    </element>
                </zeroOrMore>
            </interleave>
        </element>
    </define>

    <define name="config">
        <element name="config">
            <attribute name="host"/>

            <optional>
                <attribute name="netns"/>
            </optional>

            <optional>
                <attribute name="option"/>
                <attribute name="value"/>
            </optional>

            <!-- Should config have timeout? -->
            <optional>
                <attribute name="timeout">
                    <data type="integer"/>
                </attribute>
            </optional>

            <optional>
                <attribute name="persistent">
                    <choice>
                        <value>true</value>
                        <value>false</value>
                        <value>yes</value>
                        <value>no</value>
                        <value>1</value>
                        <value>0</value>
                    </choice>
                </attribute>
            </optional>

            <optional>
                <attribute name="desc"/>
            </optional>

            <optional>
                <ref name="options"/>
            </optional>
        </element>
    </define>

    <define name="run">
        <element name="run">
            <attribute name="host"/>

            <optional>
                <attribute name="netns"/>
            </optional>

            <choice>
                <attribute name="module"/>
                <ref name="run_command"/>
            </choice>

            <optional>
                <attribute name="bg_id"/>
            </optional>

            <optional>
                <attribute name="expect"/>
            </optional>

            <optional>
                <attribute name="timeout">
                    <data type="integer"/>
                </attribute>
            </optional>

            <optional>
                <attribute name="desc"/>
            </optional>

            <optional>
                <ref name="options"/>
            </optional>
        </element>
    </define>

    <define name="run_command">
        <choice>
            <attribute name="command"/>
            <ref name="run_tool"/>
        </choice>
    </define>

    <define name="run_tool">
        <attribute name="command"/>
        <attribute name="from"/>
    </define>

    <define name="wait">
        <element name="wait">
            <ref name="signal_command"/>
        </element>
    </define>

    <define name="intr">
        <element name="intr">
            <ref name="signal_command"/>
        </element>
    </define>

    <define name="kill">
        <element name="kill">
            <ref name="signal_command"/>
        </element>
    </define>

    <define name="signal_command">
        <attribute name="host"/>
        <attribute name="bg_id"/>
    </define>

    <define name="ctl_wait">
        <element name="ctl_wait">
            <attribute name="seconds"/>
        </element>
    </define>
</grammar>
